<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staylog.staylog.domain.board.mapper.BoardMapper">


    <!--  해당 카테고리 전체 게시글 수  -->
    <select id="countByBoardType" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM board
        WHERE board_type = #{boardType}
            AND deleted = 'N'
    </select>

    <!-- 해당 조건 전체 게시글 수 -->
    <select id="countBoardList" parameterType="BoardDto" resultType="int">
        SELECT COUNT (*)
        FROM board b
        LEFT JOIN common_code c
            ON b.region_code = c.code_id
            AND c.parent_id = 'region_type'
        WHERE b.deleted = 'N'
        AND b.board_type = #{boardType}

        <!-- 지역 필터 -->
        <if test="regionCode != null and regionCode != ''">
            And b.region_code = #{regionCode}
        </if>

        <!-- 키워드 검색 -->
        <if test="keyword != null and keyword !=''">
            AND (b.title LIKE '%' || #{keyword} || '%'
            OR b.count LIKE '%' || #{keyword} || '%')
        </if>

    </select>


    <!-- 게시판 목록 조회 (ROWNUM 기반 페이징) -->
    <select id="getByBoardType" parameterType="BoardListRequest" resultType="BoardDto">
        SELECT *
        FROM (
            SELECT inner_query.*, ROWNUM AS rn
            FROM (
            SELECT
            b.board_type AS boardType,
            b.region_code AS regionCode,
            cc.code_name AS regionName,
            b.board_id AS boardId,
            b.accommodation_id AS accommodationId,
            a.name AS accommodationName,
            b.booking_id AS bookingId,
            b.user_id AS userId,
            u.nickname AS userNickName,
            b.title,
            b.rating,
            b.views_count AS viewsCount,
            TO_CHAR(b.created_at, 'YYYY-MM-DD HH24:MI:SS') AS createdAt,
            TO_CHAR(b.updated_at, 'YYYY-MM-DD HH24:MI:SS') AS updatedAt,
            b.likes_count AS likesCount,
            b.deleted

            FROM board b
            LEFT JOIN accommodation a
                ON b.accommodation_id = a.accommodation_id
            LEFT JOIN users u
                ON b.user_id = u.user_id
            LEFT JOIN common_code cc
                ON b.region_code = cc.code_id

            WHERE b.deleted = 'N'
            AND b.board_type = #{boardType}

            <!-- 지역 필터 (다중) -->
            <if test="regionCodes != null and !regionCodes.isEmpty()">
                AND b.region_code IN
                <foreach collection="regionCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>

            <!-- 정렬 -->
            <choose>
                <when test="sort == 'likes'">
                    ORDER BY
                        b.likes_count DESC,
                        b.created_at DESC
                </when>
                <when test="sort == 'views'">
                    ORDER BY b.views_count DESC, b.created_at DESC
                </when>
                <otherwise>
                    ORDER BY b.created_at DESC
                </otherwise>
            </choose>
        ) inner_query
        )
        WHERE rn BETWEEN (#{pageNum}-1) * #{pageSize} + 1 AND #{pageNum} * #{pageSize}
    </select>






    <!-- 해당 카테고리 게시글 상세 조회 -->
    <select id="getByBoardId" parameterType="Long" resultType="BoardDto">
        SELECT b.board_id AS boardId,
            b.region_code AS regionCode,
            b.board_type AS boardType,
            b.accommodation_id AS accommodationId,
            a.name AS accommodationName,
            b.booking_id AS bookingId,
            TO_CHAR(r.check_in, 'YYYY-MM-DD') AS checkIn,
            TO_CHAR(r.check_out, 'YYYY-MM-DD') AS checkOut,
            b.user_id AS userId,
            u.name AS userName,
            u.nickname AS userNickName,
            b.title,
            b.content,
            b.rating,
            b.views_count AS viewsCount,
            TO_CHAR(b.created_at, 'YYYY-MM-DD HH24:MI:SS') AS createdAt,
            TO_CHAR(b.updated_at, 'YYYY-MM-DD HH24:MI:SS') AS updatedAt,
            b.deleted,
            b.likes_count AS likesCount
        FROM board b
        JOIN users u
            ON b.user_id = u.user_id
        LEFT JOIN accommodation a
            ON b.accommodation_id = a.accommodation_id
        LEFT JOIN reservation r
            ON b.booking_id = r.booking_id
        WHERE b.board_id = #{boardId}
            AND deleted = 'N'
    </select>



    <!-- 게시글 수정 -->
    <update id="update" parameterType="BoardDto">
        UPDATE board
        SET title = #{title},
            content = #{content},
            rating = #{rating},
            updated_at = SYSDATE
        WHERE board_id = #{boardId}

    </update>
    
    <!-- 게시글 삭제 (논리 삭제) -->
    <update id="delete" parameterType="long">
        UPDATE board
        SET deleted = 'Y',
            updated_at = SYSDATE
        WHERE board_id = #{boardId}
    </update>
    
    <!-- 게시글 등록 -->
    <insert id="insert" parameterType="BoardDto">
        INSERT INTO board
        (board_id, accommodation_id, booking_id, user_id, region_code, board_type,
            title, content, rating)
        VALUES (
            #{boardId}, #{accommodationId}, #{bookingId}, #{userId}, #{regionCode}, #{boardType},
            #{title}, #{content}, #{rating})

    </insert>

    <!-- 예약내역 목록 -->
    <select id="bookingList" parameterType="long" resultType="BookingDto">
        SELECT
            r.booking_id AS bookingId,
            a.accommodation_id AS accommodationId,
            a.name AS accommodationName,
            a.region_code AS regionCode,
            TO_CHAR(r.check_in, 'YYYY-MM-DD') AS checkIn,
            TO_CHAR(r.check_out, 'YYYY-MM-DD') AS checkOut
        FROM reservation r
        JOIN room rm
            ON r.room_id = rm.room_id
        JOIN accommodation a
            ON rm.accommodation_id = a.accommodation_id
        WHERE r.user_id = #{userId}
            AND r.check_out &lt; SYSDATE
            AND NOT EXISTS (
                SELECT 1
                FROM board b
                WHERE b.booking_id = r.booking_id )

    </select>


    <!-- 게시글 PK로 작성자 PK 조회(알림에서 사용할 목적) -->
    <select id="getUserIdByBoardId" parameterType="long" resultType="long">
        SELECT user_id
        FROM board
        WHERE board_id = #{boardId}
    </select>



    <!-- 좋아요 update / +1 / -1 -->
    <update id="updateLikeCount" parameterType="long">
        UPDATE board b SET b.likes_count = (
            SELECT COUNT(*)
            FROM likes l
            WHERE l.board_id = b.board_id
        )
        WHERE b.board_id = #{boardId}
    </update>

    <!--  좋아요 증가  -->
    <update id="increaseLikeCount" parameterType="long">
        UPDATE board SET likes_count = likes_count + 1
        WHERE board_id = #{boardId}
    </update>

    <!--  좋아요 감소  -->
    <update id="decreaseLikeCount" parameterType="long">
        UPDATE board SET likes_count = likes_count - 1
        WHERE board_id = #{boardId}
    </update>

    <!--  조회수 증가  -->
    <update id="increaseViewsCount" parameterType="long">
        UPDATE board SET views_count = views_count + 1
        WHERE board_id = #{boardId}
    </update>

    <!-- 조회수 update / +1 / -1 -->
    <update id="updateViewsCount" parameterType="long">
        UPDATE board b
        SET b.views_count = (
            SELECT COUNT(*)
            FROM views v
            WHERE v.board_id = b.board_id
        )
        WHERE b.board_id = #{boardId}
    </update>


    <!-- 게시글 PK로 숙소명 조회 (알림에서 사용) -->
    <select id="getAccommodationNameAndIdByBoardId" parameterType="long" resultType="accommodationIdAndName">
        SELECT a.name AS accommodation_name, a.accommodation_id AS accommodation_id
        FROM accommodation a
        JOIN board b
            ON a.accommodation_id = b.accommodation_id
        WHERE b.board_id = #{boardId}
    </select>


<!-- 시퀀스 생성 board

   CREATE SEQUENCE seq_board_id
        START WITH 1
        INCREMENT BY 1;

-->


    <!-- 테이블 생성 board

    CREATE TABLE board (
        board_id           NUMBER PRIMARY KEY,
        accommodation_id   NUMBER ,
        booking_id         NUMBER ,
        user_id            NUMBER NOT NULL,

        region_code        VARCHAR2(20) NOT NULL,
        board_type         VARCHAR2(20) NOT NULL,

        title              VARCHAR2(255) NOT NULL,
        content            CLOB NOT NULL,
        likes_count        NUMBER DEFAULT 0,
        rating             NUMBER CHECK (rating BETWEEN 1 AND 5),
        views_count        NUMBER DEFAULT 0,

        created_at         TIMESTAMP DEFAULT SYSTIMESTAMP,
        updated_at         TIMESTAMP DEFAULT SYSTIMESTAMP,
        deleted            CHAR(1) DEFAULT 'N' CHECK (deleted IN ('Y','N'))
    );

    -->




</mapper>
